*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.banner-logo{
    height: 60px;
}
 .logo1{
     height: 100%;
 }
.logo1 img{
    height: 100%;
   
} 
.food-op, .bakery-op{
    display: none;
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.row{
    margin: 0;
    padding: 0;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
    overflow: scroll;
  }
  .hienlen{
      display: block;

  }
  .andi{
      display: none;
  }
ul.nav.justify-content-center{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: oblique;
}
.span p{
    text-align: center;

}
.span button{
    text-align: center;
}
h5.mt-0{
    font-size: 25px;
    line-height: normal;
    margin: 0 0 50px;
    color: #0C713D;
}
.menu-da-cap li a{
    color: #147718;
}
.f-social i{
    color: #147718;
    font-size: xx-large;
}
.f-social li {
    margin: 3%;
}
.f-copyright{
    text-align: center;
    padding-top: 1%; 
}
h4{
    
    color:white;
    font-family: none;
    margin-left: 680px;
    font-size: 60px;
}
.row .bottom {
    margin-top: 1%;
}
.col-12.center {
    margin-top: 1%;
    font-style: oblique;
    color: red;
}
img.align1{
    width: 100%;
}
.khachhang h1{
    color:#147718;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.chubanner h4{
    color: #147718;
    margin-left: 43%;
}
.chubanner {
    width: 100%;
}
.menu-center a{
    color: #147718;
}
.Foodter h1{
    text-align: center;
    color:aliceblue;
    padding: 1%;
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 50px;
}
.khachhang img{
    width: 100%;
    margin: 2%;
}
.media-body {
    padding: 49px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    float: none;

}
.btn-primary {
    color: #e01212;
    background-color: #ffffff;
    border-color: #167b0b;
    font-size: 19px;
}
.Foodter a {
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    background-color:transparent;
}
p.gia {
    font-size: 26px;
    color: #147718;
    font-weight: bolder;
}
p.tensanpham {
    font-size: 16px;
    font-family: "Lora", serif;
    font-weight: bold;
    line-height: 28px;
    color: #010101;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 28px;
    text-transform: capitalize;
}
.col-3 {
    text-align: center;
}
img.img-responsive.w-80 {
    max-width: 144px;
}
.col-md-6.col-sm-12.Foodter {
    background-color: forestgreen;
}

li.1v1 {
    padding: 3%;
}
ul.icon {
    display: flex;
    width: 100%;
    padding: 10px 15px;
    list-style: none;
}
iframe {
    width: 100%;
}
img.align2{
    width: 80%;
}
i.fas.fa-store {
    color: white;
    margin: 1%;
}
.col-md-7.col-sm-12.Foodter{
    background-color: #147718;
}
#submit-bottom input#newsletter-email {
    width: 50%;
    margin-right: 3%;
    border: 2px solid #147718;
    color: #147718;
}
#submit-bottom {
    display: flex;
}
#submit-bottom button {
    width: 25%;
    background: #147718;
    color: white;
    font-weight: 500;
}
.location button{
    margin: 0 3%;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #147718;
}
.anh  img{
    border-radius: 15px;
}
.BestDirnks img{
    border-radius: 15px;
}
.buttan1{
    color: #e01212;
    background-color: #ffffff;
    border-color: #167b0b;
    font-size: 19px;
    
}