.contact-info {
    max-width: 852px;
    line-height: 40px;
    font-size: 24px;
    margin: 0 auto 50px auto;
    color:  #147718;
}
.page-heading {
    padding: 10px 0;
}

.page-heading {
    text-align: center;
}